.facial-recognition{
	margin: 0 auto;
	height: 884px;
	width: 1000px;
	background-color: #0ad5f0bf;
	border-radius: 11px;
	margin-top: 50px;
	border-style: line;
  	border-color: #131412;
}

.facial-recognition-verify{
	margin: 0 auto;
	height: 680px;
	width: 1000px;
	background-color: #0ad5f0bf;
	border-radius: 11px;
	margin-top: 50px;
	border-style: line;
  	border-color: #131412;
}

.btn {
	padding: 5px 20px;
	background-color: #0f100f;
	color: #FFFFFF;
	font-style: oblique;
	font-weight: bold;
	border-radius: 10px;
}

.admin{
	margin: 0 auto;
	height: 570px;
	width: 660px;
	background-color: #0ad5f0bf;
	border-radius: 10px;
	margin-top: 25px;
	border-style: line;
	border-color: #131412;
	margin-bottom: 25px;
}

.admintask{
	margin: 0 auto;
	height: 30px;
	width: 200px;
	background-color: #dcdcebfb;
	border-radius: 10px;
	margin-top: 20px;
	border-style: bold;
	border-color: #131412;
}

.tr:nth-child(odd) {
	background-color: #f2f2f2; /* Light gray */
}

.tr:nth-child(even) {
	background-color: #f0e68c; /* Khaki */
}

/* Style table headers */
.th {
	background-color: #6495ED; /* Cornflower Blue */
	color: white;
}

/* Style table cells */
.td {
	padding: 10px;
	text-align: center;
}