<!DOCTYPE html>
<html>
<head>
  <title>Webcam for Facial Recognition</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="admin" align="center">
    </br>
    </br>
    <h1>Facial Recognition Administration</h1>	
    <br>
    <br>
    <br>
    <br>
    <div class="admintask" align="center">
        <li><a href="{{url_for('register')}}">Register Face ID</a></li>
    </div>
    <br>
    <br>
    <div class="admintask" align="center">
        <li><a href="{{url_for('verify')}}">Recognise Face ID</a></li>
    </div> 
</body>
</html>
