<html>
	<head>
		<meta charset="UTF-8">
		<title>Face Register Success </title>
		<link rel="stylesheet" href="../static/style.css">	
	</head>
	<body bgcolor="#e6ffee">
		<div class="admin" align="center">
		    </br>
	        </br>
			</br>
			<h1>Face Verified Successfull</h1>	
		    </br>
		    </br>
			<div>
				<table border="1">
					<thead bgcolor="Yellow">
						<tr>
							<th>Person Details</th>
							<th>Details Values</th>
						</tr>
					</thead>
					<tbody bgcolor="lightgray">
						<tr>
							<td>FirstName</td>
							<td>{{ first_name }}</td>
						</tr>
						<tr>
							<td>LastName</td>
							<td>{{ last_name }}</td>
						</tr>
						<tr>
							<td>PhoneNumber</td>
							<td>{{ phone_number }}</td>
						</tr>
						<tr>
							<td>DOB</td>
							<td>{{ dob }}</td>
						</tr>
						<tr>
							<td>Confidence</td>
							<td>{{ face_confidence }}%</td>
						</tr>
					</tbody>
				</table>
			</div>
		    </br>
			<div class="admintask" align="center">
				<li><a href="{{url_for('index')}}">Back</a></li>
			</div>
	        </br>
		</div>
	</body>
</html>
