<!DOCTYPE html>
<html>
<head>
  <title>Webcam for Facial Recognition</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="facial-recognition-verify" align="center">
    </br>
    </br>
    <h1>Verify Face</h1>	
    <br>
      <div class="booth">
        <video id="webcam" width="25%" height="25%" autoplay></video>
        <canvas id="canvas" style="display: none;"></canvas>
      </div>
      <br>
      <img id="result" width="25%" height="25%">
      <br>
      <br>
      <br>
      <br>
      <div align="center">
        <button id="startButton" class="btn" align="center">Start Webcam</button>
        <button id="stopButton" class="btn" align="center">Stop Webcam</button>
        <button id="verifyButton" class="btn" align="center">Verify Image</button>
        <button id="clearButton" class="btn" align="center">Clear Image</button>
      </div>
      <br>
      <div class="admintask" align="center">
        <li><a href="{{url_for('index')}}">Back</a></li>
      </div>
    </div>
  <script>
    let webcamStream;
    const webcam = document.getElementById('webcam');
    const canvas = document.getElementById('canvas');
    const resultImage = document.getElementById('result');
    const startButton = document.getElementById('startButton');
    const stopButton = document.getElementById('stopButton');
    const verifyButton = document.getElementById('verifyButton');
    
    async function startWebcam() {
      webcamStream = await navigator.mediaDevices.getUserMedia({ video: true });
      webcam.srcObject = webcamStream;
    }
    
    function stopWebcam() {
      if (webcamStream) {
        const tracks = webcamStream.getTracks();
        tracks.forEach(track => track.stop());
        webcamStream = null;
        webcam.srcObject = null;
      }
    }
    
    function verifyImage() {
      if (!webcamStream) {
        alert("Webcam is not active!");
        return;
      }
      
      const context = canvas.getContext('2d');
      canvas.width = webcam.videoWidth;
      canvas.height = webcam.videoHeight;
      context.drawImage(webcam, 0, 0, canvas.width, canvas.height);
      
      const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
      resultImage.src = convertToColorImage(imageData);
      
      // Convert color image data to base64 string
      const colorImageBase64 = resultImage.src.replace('data:image/png;base64,', '');
      
      
      // Create a FormData object and append the color image data
      const formData = new FormData();
      formData.append('colorImageData', colorImageBase64);
      
      // Send color image data to Flask function
      fetch('/verify_process_color_image', {
        method: 'POST',
        body: formData,
      })
      .then(response => response.json())
      .then(data => {
        // Handle Flask response if needed
        console.log(data);
        if (data && data.statusCode === 200) {
          // Redirect to 'verficationsuccess.html' on success
          window.location.href = '/verficationsuccess'+
                '?firstName=' + encodeURIComponent(data.firstName) +
                '&lastName=' + encodeURIComponent(data.lastName) +
                '&phoneNumber=' + encodeURIComponent(data.phoneNumber) +
                '&dob=' + encodeURIComponent(data.dob) +
                '&faceConfidence=' + encodeURIComponent(data.matchconfidence);
        } else {
          // Redirect to 'verificationfail.html' on failure
          window.location.href = '/verificationfail'+
                '?Message=' + encodeURIComponent(data.Message);
        }
      })
      .catch(error => {
        console.error('Error sending data to Flask:', error);
        window.location.href = '/verificationfail';
      });
      
    }
    
    function convertToColorImage(imageData) {
      const colorCanvas = document.createElement('canvas');
      colorCanvas.width = imageData.width;
      colorCanvas.height = imageData.height;
      const context = colorCanvas.getContext('2d');
      context.putImageData(imageData, 0, 0);
      
      // Return the color image as a data URL
      return colorCanvas.toDataURL();
    }

    function clearImage() {
      resultImage.src = '';
    }
    
    startButton.addEventListener('click', startWebcam);
    stopButton.addEventListener('click', stopWebcam);
    verifyButton.addEventListener('click', verifyImage);
    clearButton.addEventListener('click', clearImage);
  </script>
</body>
</html>
